<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    In this experiment, you will study alien words paired with unusual objects on a series of slides. 
            <b>Your goal is to try to remember which words refer to which objects</b>.
        </p>
        <p>
            After the study period, you will be asked which object goes with each word.
        </p>
        <p>
            We are interested in how learning and memory works within healthy individuals.
            <b>Please do not write anything down or use screen recordings.</b>  Just use your mind and intelligence!
        </p>
	    <p>
		    During the study period, if you notice the same word-object pair repeated on consecutive trials, quickly press SPACE BAR.  This is to make sure you are paying attention.
	    </p>


	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
